<div class="w-full h-svh flex-grow flex flex-col">
  <div class="w-full h-full bg-primary-2 md:p-8">
    <div
      class="bg-white w-full h-full relative overflow-hidden flex flex-col md:rounded-md md:shadow-md md:shadow-primary-1">
      <app-header (onClickMenu)="handleClickMenuMovileButton()" />
      <app-menu-movile [isOpen]="isOpenMenu" [options]="options" />
      <app-menu-desktop [options]="options" />
      <div [class.hidden]="!isOpenMenu" (click)="handleClickMenuMovileButton()"
        class="absolute top-0 left-0 bg-gray-300 w-full h-full z-30 opacity-60 transition-colors duration-300 md:hidden">
      </div>
      <main class="h-full overflow-y-auto p-11">
        <ng-content />
      </main>
    </div>
  </div>
</div>
