<app-app-layout>
  <!-- Clients Header -->
  <div class="mb-6 flex items-center justify-between">
    <div>
      <h3 class="text-xl font-semibold text-secondary-2">Visualizando clientes</h3>
    </div>
    <div class="flex gap-3">
      <button class="rounded-lg bg-secondary-2 px-4 py-2 font-medium text-white hover:bg-secondary-1"
        (click)="handleClickAddClientButton()">
        Crear cliente
      </button>
      <button class="rounded-lg bg-error px-4 py-2 font-medium text-white hover:bg-opacity-90"
        (click)="handleClickTrashedClientsButton()">
        Clientes eliminados
      </button>
    </div>
  </div>

  <!-- Clients Table -->
  <div class="rounded-lg bg-white shadow-lg">
    <!-- Table -->
    <div>
      <table class="w-full">
        <!-- Table Header -->
        <thead class="bg-secondary-2 text-white">
          <tr>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Nombre</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Correo electrónico</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Teléfono</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Documento</th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody class="">
          @for (client of clients; track client.id) {
          <tr class="border-b border-b-primary-1">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-secondary-2">
              {{client.name}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-primary-3">
              {{client.email}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-primary-3">
              {{client.phone}}
            </td>
            <td class="relative flex items-center px-6 py-4 whitespace-nowrap text-sm text-primary-3">
              {{client.document_identification}}

              <div class="absolute right-1">
                <app-row-options-menu (onSelect)="handleSelectOptionMenu(client.id, $event)" />
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</app-app-layout>
