<app-app-layout>
  <!-- Patients Header -->
  <div class="mb-6 flex items-center justify-between">
    <div>
      <h3 class="text-xl font-semibold text-secondary-2">Visualizando pacientes</h3>
    </div>
    <div class="flex gap-3">
      <button class="rounded-lg bg-secondary-2 px-4 py-2 font-medium text-white hover:bg-secondary-1"
        (click)="handleClickAddPatientButton()">
        Crear paciente
      </button>
      <button class="rounded-lg bg-error px-4 py-2 font-medium text-white hover:bg-opacity-90"
        (click)="handleClickTrashedPatientsButton()">
        Pacientes eliminados
      </button>
    </div>
  </div>

  <!-- Patients Table -->
  <div class="rounded-lg bg-white shadow-lg">
    <!-- Table -->
    <div>
      <table class="w-full">
        <!-- Table Header -->
        <thead class="bg-secondary-2 text-white">
          <tr>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Nombre</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Fecha de nacimiento</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Dirección</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Documento</th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody class="">
          @for (patient of patients; track patient.id) {
          <tr class="border-b border-b-primary-1 hover:bg-primary-1" (click)="handleClickDetailPatientButton(patient.id)">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-secondary-2">
              {{patient.name}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-primary-3">
              {{patient.birthdate}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-primary-3">
              {{patient.direction}}
            </td>
            <td class="relative flex items-center px-6 py-4 whitespace-nowrap text-sm text-primary-3">
              {{patient.document_identification}}

              <div class="absolute right-1">
                <app-row-options-menu (onSelect)="handleSelectOptionMenu(patient.id, $event)" />
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</app-app-layout>
