<app-app-layout>
  <!-- Users Header -->
  <div class="mb-6 flex items-center justify-between">
    <div>
      <h3 class="text-xl font-semibold text-secondary-2">Visualizando usuarios</h3>
    </div>
    <div class="flex gap-3">
      <button class="rounded-lg bg-secondary-2 px-4 py-2 font-medium text-white hover:bg-secondary-1"
        (click)="handleClickAddUserButton()">
        Crear usuario
      </button>
    </div>
  </div>

  <!-- Users Table -->
  <div class="rounded-lg bg-white shadow-lg">
    <!-- Table -->
    <div>
      <table class="w-full">
        <!-- Table Header -->
        <thead class="bg-secondary-2 text-white">
          <tr>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Nombre</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Correo</th>
            <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Perfil</th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody class="">
          @for (user of users; track user.id) {
          <tr class="border-b border-b-primary-1" [ngClass]="{
            '!bg-gray-200': user.status === 'inactive'
            }">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-secondary-2" [ngClass]="{
            '!text-gray-500': user.status === 'inactive'
            }">
              {{user.name}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-primary-3" [ngClass]="{
            '!text-gray-500': user.status === 'inactive'
            }">
              {{user.email}}
            </td>
            <td class="relative flex items-center px-6 py-4 whitespace-nowrap text-sm text-primary-3" [ngClass]="{
            '!text-gray-500': user.status === 'inactive'
            }">
              @switch (user.type) {
              @case ('root') {Raiz}
              @case ('admin') {Administrador}
              @case ('nurse') {Enfermero}
              }

              @if (user.type !== 'root') {
              <div class="absolute right-1">
                <app-row-options-menu (onSelect)="handleSelectOptionMenu(user.id, $event)" />
              </div>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</app-app-layout>
