<form class="space-y-6" [formGroup]="formPatient" (submit)="handleSubmitFormPatient()">
  <!-- Name Field -->
  <div>
    <label class="mb-2 block font-medium text-secondary-2">
      Nombre
      <span class="text-error">*</span>
    </label>
    <input type="text" placeholder="Ingrese el nombre del enfermero" formControlName="name"
      class="w-full rounded-lg border-2 border-primary-1 p-3 focus:border-secondary-1 focus:ring-2 focus:ring-secondary-1 outline-none"
      required>
    <p class="mt-1 text-sm text-error" [class.hidden]="!(didTrySubmitForm&&formData['name'].invalid)">
      Este campo es requerido
    </p>
  </div>

  <!-- Birthdate Field -->
  <div>
    <label class="mb-2 block font-medium text-secondary-2">
      Fecha de nacimiento
      <span class="text-error">*</span>
    </label>
    <input type="date" placeholder="Ingrese el correo electrónico del enfermero" formControlName="birthdate"
      class="w-full rounded-lg border-2 border-primary-1 p-3 focus:border-secondary-1 focus:ring-2 focus:ring-secondary-1 outline-none"
      required>
    <p class="mt-1 text-sm text-error" [class.hidden]="!(didTrySubmitForm&&formData['birthdate'].invalid)">
      Este campo es requerido
    </p>
  </div>

  <!-- Direction Field -->
  <div>
    <label class="mb-2 block font-medium text-secondary-2">
      Dirección
      <span class="text-error">*</span>
    </label>
    <input type="text" placeholder="Ingrese el teléfono del enfermero" formControlName="direction"
      class="w-full rounded-lg border-2 border-primary-1 p-3 focus:border-secondary-1 focus:ring-2 focus:ring-secondary-1 outline-none"
      required>
    <p class="mt-1 text-sm text-error" [class.hidden]="!(didTrySubmitForm&&formData['direction'].invalid)">
      Este campo es requerido
    </p>
  </div>

  <!-- ID Document Field -->
  <div>
    <label class="mb-2 block font-medium text-secondary-2">
      Documento de identificación
      <span class="text-error">*</span>
    </label>
    <input type="text" placeholder="Número de documento" formControlName="document_identification"
      class="w-full rounded-lg border-2 border-primary-1 p-3 focus:border-secondary-1 focus:ring-2 focus:ring-secondary-1 outline-none"
      required>
    <p class="mt-1 text-sm text-error"
      [class.hidden]="!(didTrySubmitForm&&formData['document_identification'].invalid)">
      Este campo es requerido
    </p>
  </div>

  <!-- Submit Button -->
  <button type="submit"
    class="w-full rounded-lg bg-secondary-2 py-3 px-4 font-medium text-white hover:bg-secondary-1 focus:outline-none focus:ring-2 focus:ring-secondary-1 focus:ring-offset-2 transition-colors">
    Guardar
  </button>
</form>
