<form class="md:w-3/5" [formGroup]="formPatient" (submit)="handleSubmitFormPatient()">
  <app-input-text [formGroup]="formPatient" label="Nombre" name="name" placeholder="Ingrese el nombre del paciente"
    [error]="didTrySubmitForm&&formData['name'].invalid" />

  <div class="flex flex-col gap-y-1 outline outline-1 outline-gray-200 p-3"
    [class.!outline-error]="didTrySubmitForm&&formData['birthdate'].invalid">
    <label for="birthdate" class="text-xs md:text-sm font-medium text-secondary-2">Fecha de nacimiento</label>
    <input type="date" id="birthdate" placeholder="Ingrese la fecha de nacimiento del paciente" name="birthdate"
      formControlName="birthdate"
      class="bg-none outline-none text-lg md:text-xl xl:text-2xl placeholder:text-gray-300 text-secondary-1">
  </div>

  <app-input-text [formGroup]="formPatient" label="Dirección" name="direction"
    placeholder="Ingrese la dirección del paciente" [error]="didTrySubmitForm&&formData['direction'].invalid" />

  <app-input-text [formGroup]="formPatient" label="Documento de identificación" name="document_identification"
    placeholder="Ingrese el documento de identificación del paciente"
    [error]="didTrySubmitForm&&formData['document_identification'].invalid" />

  <button type="submit"
    class="bg-secondary-1 hover:bg-primary-1 transition-all mt-5 py-2 px-4 md:py-3 text-xl md:text-2xl xl:text-3xl rounded-lg text-white">
    Guardar
  </button>
</form>