<div class="relative inline-block text-left">
  <button class="p-2 rounded-full hover:bg-gray-200" (click)="toggleMenu($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512" class="size-4">
      <path
        d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z" />
    </svg>
  </button>
  @if (isMenuOpen) {
  <div class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded-lg shadow-lg z-50">
    <button class="block w-full px-4 py-2 text-left hover:bg-primary-1 !text-primary-3" (click)="onOptionClick('edit', $event)">
      Editar
    </button>
    <button class="block w-full px-4 py-2 text-left hover:bg-primary-1 !text-primary-3" (click)="onOptionClick('delete', $event)">
      Eliminar
    </button>
  </div>
  }
</div>
