<app-app-layout>
  <div class="flex justify-between">
    <h1 class="text-secondary-2 text-3xl">Enfermeros eliminados</h1>
  </div>

  <table class="mt-2 w-full shadow-md rounded-sm overflow-hidden">
    <thead class="bg-secondary-1 text-2xl text-white">
      <tr>
        <th class="w-1/5 font-medium p-4">Nombre</th>
        <th class="w-1/5 font-medium p-4">Documento</th>
        <th class="w-1/5 font-medium p-4">Opciones</th>
      </tr>
    </thead>
    <tbody>
      @for (nurse of trashedNurses; track nurse.id) {
      <tr class="hover:bg-gray-50">
        <td class="px-4 py-4 text-lg">{{nurse.name}}</td>
        <td class="px-4 py-4 text-lg flex justify-center">{{nurse.document_identification}}</td>
        <td>
          <div class="flex justify-center gap-x-6">
            <button (click)="handleClickRestoreNurseButton(nurse.id)"
              class="border-2 border-solid border-primary-3 size-10 fill-primary-3 rounded-md flex justify-center items-center hover:bg-primary-3 hover:fill-white transition">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="size-4/5">
                <path
                  d="M463.5 224l8.5 0c13.3 0 24-10.7 24-24l0-128c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8l119.5 0z" />
              </svg>
            </button>
            <button (click)="handleClickDeletePermanentlyNurseButton(nurse.id)"
              class="border-2 border-solid border-error size-10 fill-error rounded-md flex justify-center items-center hover:bg-error hover:fill-white transition">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="size-4/5">
                <path
                  d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
              </svg>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</app-app-layout>